.sidenav {
  position: absolute;
  background: var(--secondary-color);
  height: 100%;
  width: 5rem;
  z-index: 2;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5),
    inset -4px 0px 4px rgba(2, 15, 24, 0.569466);
}
/* logo */
.logo {
  position: absolute;
  top: 0.65rem;
}
.menu-campaigns {
  position: absolute;
  left: 1.65rem;
  top: 7.5rem;
}
.menu-teams {
  position: absolute;
  top: 11.3rem;
}
.menu-contacts {
  position: absolute;
  top: 17rem;
}
.menu-reports{
  position: absolute;
  left: 1.43rem;
  top: 23.5rem;
}
.menu-help {
  position: absolute;
  left: 1.68rem;
  bottom: 2.17%;
}
