.activity-feed-container {
  max-width: 316px;
  height: fit-content;
  background-color: var(--primary-color);
  margin: 2.1rem 1.5rem 1.5rem;
}
.activity-title {
  padding: 1.5rem;
}
.activity-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}
.activity-avatar {
  height: 36px;
  width: 36px;
  border-radius: 18px;
}
.mate-item {
  display: flex;
  gap: 8px;
  font-size: 14px;
}
.mate-item-time {
  font-size: 13px;
  line-height: 16px;
  color: #565656;
  opacity: 0.5;
}
