* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: var(--bg-color);
}
:root {
  --primary-color: #ffffff;
  --secondary-color: #042235;
  --bg-color: #e5e5e5;
}

.flex-jc-btwn{
    display: flex;
    justify-content: space-between;
}
.flex-align-c{
  display: flex;
  align-items: center;
}
.gap-1{
    gap:1rem;
}
.gap-2{
    gap:2rem;
}
.cursor{
  cursor: pointer;
}
.App{
    width: 100%;
}