* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
}
html {
  font-size: 16px;
}
:root {
  --primary-color: #ffffff;
  --secondary-color: #042235;
  --bg-color: #e5e5e5;
  --accent-color: #2995da;
}
.font-size-1 {
  font-size: 1rem;
}
.font-size-1_5 {
  font-size: 1.5rem;
}
.font-size-2 {
  font-size: 2rem;
}
.flex-jc-btwn {
  display: flex;
  justify-content: space-between;
}
.flex-align-c {
  display: flex;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.cursor {
  cursor: pointer;
}
.margin-top-2 {
  margin-top: 2rem;
}
.margin-left-6 {
  margin-left: 6rem;
}
.margin-left-auto {
  margin-left: auto;
}
.padding-10 {
  padding: 10px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-5 {
  padding-left: 5rem;
}
.padding-left-6 {
  padding-left: 6rem;
}
.padding-bottom-_5 {
  padding-bottom: 0.5rem;
}
.padding-bottom-1 {
  padding-bottom: 1rem;
}
.App {
  width: 100%;
}
a {
  text-decoration: none;
}
hr {
  border: none;
  border-bottom: #e2e2e2 1px solid;
}
